{% extends 'base.html.twig' %}

{% block main %}
    <h1>Homepage</h1>
    <div class="row">
        <div class="col-sm-6">
            <p>Access to Products</p>
            <p>
                <a href="{{ path('app_product_index') }}">Go to!😉</a>
            </p>
        </div>
        <div class="col-sm-6">
            <p>Access to Categories</p>
            <p>
                <a href="{{ path('app_category_index') }}">Go to!😉</a>
            </p>
        </div>
    </div>
{% endblock %}
