{% extends 'base.html.twig' %}

{% block main %}
    <h1>Homepage</h1>
    <div class="row">
        <div class="col-sm-6">
            <p>Access to Products</p>
            <p>Go to!😉</p>
        </div>
    </div>
{% endblock %}
